<html>
	<body>
		<title>Projeto Evidencia</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	</body>
	<form action="/projetos" method="post">
		<div class="jumbotron">
			<select name="projetos_id">

			</select>		  
		  <input type="submit" value="Cadastrar projetos"/>		  
		</div>
	</form>
</html>