<html>
	<body>
	<div class='erros'>
		
	</div>
	<h1>Form Usuario</h1>
	<form action="/usuarios/salvar" method="post">
		<div>
			<label for="nome"> Nome: </label>
			<input type="text" id="nome" name="nome" placeholder="Nome">
		</div>
		<div>
			<label for="senha"> Senha: </label>
			<input type="password" id="senha" name="senha" placeholder="Senha">
		</div>	
		<input type="submit" name="Salvar" value="SALVAR" />	
	</form>		
	</body>
</html>